accessible-pygments
alabaster
appnope
astroid
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
docutils
executing
fastjsonschema
fonttools
furo
idna
imagesize
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter-cache
jupyter_client
jupyter_core
jupyterlab-pygments
jupytext
kiwisolver
livereload
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
myst-nb
myst-parser
nbclient
nbconvert
nbformat
nbsphinx
nest-asyncio
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pydata-sphinx-theme
Pygments
pyparsing
python-dateutil
PyYAML
pyzmq
referencing
requests
rpds-py
six
snowballstemmer
soupsieve
Sphinx
sphinx-autobuild
sphinx-autodoc2
sphinx-basic-ng
sphinx-book-theme
sphinx-copybutton
sphinx-hoverxref
sphinx-hypothesis
sphinx-rtd-theme
sphinx-togglebutton
sphinx_design
sphinx_inline_tabs
sphinx_pyscript
sphinx_tippy
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxext-opengraph
sphinxext-rediraffe
SQLAlchemy
stack-data
tabulate
tinycss2
toml
tornado
traitlets
typing_extensions
urllib3
utterance
wcwidth
webencodings
zipp
